@model HomeSiteDomain.Models.Photos.EditPhotoViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="form-container">
    <div class="form-container-background">
        @using (Html.BeginForm("EditPhoto", "Photo", new { albumId = ViewBag.albumId, photoId = ViewBag.photoId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div id="photo-validation-container">
                @Html.ValidationSummary()
            </div>
            @Html.AntiForgeryToken()
            <fieldset id="create-photo-fieldset" ">
                <legend>Edit Photo</legend>
                @Html.LabelFor(m => m.PhotoName, new { @class = "fieldset-input" })<br /> @Html.TextBoxFor(m => m.PhotoName, new { @class = "fieldset-input" })<br />
                @Html.LabelFor(m => m.Description, new { @class = "fieldset-input" })<br /> @Html.TextAreaFor(m => m.Description, new { @class = "fieldset-input" })<br />
                @Html.LabelFor(m => m.Photo, new { @class = "fieldset-input", id = "photofile-label" }) @Html.TextBoxFor(m => m.Photo, new { type = "file" })
                <input type="submit" value="Edit" />
            </fieldset>
            }

            <div class="cancel-button">
                @Html.ActionLink("Cancel", "Index", new { }, new { style = "color: white;" })
            </div>
        </div>
    </section>

    @section Css {
        <link rel="stylesheet" href="~/Content/Stylesheets/admin-tools.css" />
    }
